*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
    background-color: #1e2d3b;
    font-family: 'Roboto', sans-serif;}

/* general */
ul{
    list-style: none;

}

#app{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

/* header */
.search{
    padding: 10px;
    background-color: #2e3a46;
}

.search .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo,
.search-input{
    padding: 0 20px;
}

.search img{
    height: 30px;
}

.search input{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    width: 250px;
}

.search input:focus{
    outline: none;
}



/* main */
/* select */
.filter{
    margin: 10px 0;
    text-align: center;
}
.results{
    flex-grow: 1;
    overflow: auto;
    padding-top: 50px;
}

.result-list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/* single box */
.results .result{
    position: relative;
    width: 200px;
    background-color: #2e3a46;
    margin: 10px 20px;
    padding: 10px 30px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: transform .3s;
}

.result ul>li{
    margin-bottom: 10px;
}

.result .cover img{
    width: 100%;
    border-radius: 5px;
}

.result .title{
    text-transform: uppercase;
}

.result .original-title{
    color: #aaa;
}

.result .vote i{
    color: #000;
}

.result .language{
    display: flex;
    justify-content: center;
}

.result .language img{
    margin: 5px;
    max-width: 30px;
    border-radius: 2px;
}

.result:hover{
    transform: scale(1.2);
    z-index: 1;
}

.result:hover .show-hover{
    opacity: 1;
}


.result .show-hover{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(0,0,0,.6);
    opacity: 0;
    transition: opacity .3s;
}


