<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Boolflix</title>
</head>
<body>

    <div id="app">

        <!-- header -->
        <div class="search">
            <div class="container">
                <div class="logo">
                    <img src="./img/logo.png" alt="logo Boolflix">
                </div>
                <div class="search-input">
                    <input 
                    type="text" 
                    @keyup.enter="makeResearch" 
                    v-model="search"
                    placeholder="Inserisci il titolo di una film o una serie tv"
                >
                    <!-- <button @click="makeResearch">search</button> -->
                </div>
            </div>
        </div>

        <!-- main -->
        <div v-show="showFilter" class="filter container">
            <div class="preview">
                <span v-if="!moreFilter" @click="moreFilter = !moreFilter">
                    Applica dei filtri alla tua ricerca
                </span>
                <span v-else @click="moreFilter = !moreFilter">
                    Nascondi i filtri
                </span>
            </div>
            <div v-if="moreFilter" class="all-filter">

                <!-- genre -->
                <select 
                    v-model="filter"
                >
                    <option value="all" selected="selected" >All</option>
                    <option v-for="genre in allGenre">{{ genre.name }}</option>
                </select>

                <!-- year -->
                <div class="year">
                    <span>Anno di uscita</span>
                    <input type="number" v-model="year">
                    <span class="error-filter" v-if="!correctYear">Attenzione! Inserisci un anno compreso tra 1900 e l'anno attuale</span>
                </div>

                <!-- start filter -->
                <button @click="applyFilter">applica filtri</button>

            </div>
        </div>


        <div class="results">
            <div class="container">
                <ul class="result-list">
                    <li class="result" @mouseleave="more=false" v-for="(result, index) in list">
                        <div class="card">
                            <div class="content">
                                <div class="cover">
                                    <img 
                                        v-if="result.poster_path"
                                        :src="`http://image.tmdb.org/t/p/w342/${result.poster_path}`" :alt="result.title"
                                    >
                                    <img 
                                        v-else
                                        src="https://www.altavod.com/assets/images/poster-placeholder.png" alt="copertina non presente"
                                    >
                                </div>
                                <div class="title">
                                    {{ result.title }}
                                </div>
                                <div class="original-title">
                                    {{ result.original_title }}
                                </div>
                                <div class="vote">
                                    <i v-for="n in takeVote(result.vote_average)" class="fas fa-star"></i><i v-for="n in (5 - takeVote(result.vote_average))" class="far fa-star"></i>
                                </div>

                                <div class="language">
                                    <img 
                                        v-if="flag(result.original_language)" 
                                        :src="`./img/${result.original_language}.png`" 
                                        alt=""
                                    >
                                    <div v-else class="flag">
                                        {{ result.original_language }}
                                    </div>
                                </div>
                            </div>
                            <div v-if="result.overview" class="layhover">
                                <div class="box-text">

                                    <!-- previwe and coplete description -->
                                    <span class="text" v-if="overDescription && !more" @click="more = !more">
                                        {{result.short_overview}}
                                    </span>
                                    <span class="text" v-if="overDescription && more" @click="more = !more">
                                        {{result.overview}}
                                    </span>


                                    <!-- bottom for read more or less text -->
                                    <span class="points" v-if="overDescription && !more" @click="more = !more">
                                        ... [leggi di più]
                                    </span>
                                    <span class="points" v-if="overDescription && more" @click= "more = !more">
                                        [leggi di meno]
                                    </span>
                                </div>
                            </div>              
                        </div>
                    </li>
                </ul>
            </div>

        </div>


    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/dayjs.min.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>